.dashboard-card {
  border-radius: 8px;
  background: #fff;
  min-height: 143px;
  min-width: 190px;
  width: 100%;
  transition: all 0.3s ease;
}

.dashboard-card-title{
    margin-top: 16px;
    font-weight: 200;
    font-size: small;
    color: #000;
    transition: color 0.3s ease;
}
.dashboard-card-value {
  font-weight: 600;
  color: #000;
  transition: color 0.3s ease;
}

.dashboard-card:hover {
  background: #0ABAB5; /* hover background */
}

.dashboard-card:hover .dashboard-card-title,
.dashboard-card:hover .dashboard-card-value {
  color: #fff; /* text color on hover */
}

.icon-wrapper {
  position: relative;
  width: 36px;
  height: 36px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  transition: opacity 0.3s ease;
}

.white-icon {
  opacity: 0;
}

.dashboard-card:hover .normal-icon {
  opacity: 0;
}

.dashboard-card:hover .white-icon {
  opacity: 1;
}
