.custom-modal .ant-modal-content {
  padding: 24px;
  border-radius: 8px;
  text-align: center;
}

.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-icon {
  font-size: 36px;
  color:  #F5693D;
  margin-bottom: 16px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.modal-message {
  font-size: 14px;
  color: #595959;
  margin-bottom: 24px;
  max-width: 400px;
}

.modal-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
}

